In [3]:
import pandas as pd
import numpy as np
from numpy import mean
from numpy import std
from sklearn.datasets import make_classification
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

# load data

In [4]:
df1_ori=pd.read_csv('input_data_S1-MON.csv', low_memory = False)
df2_ori=pd.read_csv('input_data_S1-MON.csv', low_memory = False)

# prepare dataset for y

In [5]:
df1_ori['final_result'] = df1_ori['final_result'].replace(['Pass'],1)
df1_ori['final_result'] = df1_ori['final_result'].replace(['Fail'],0)

y = df1_ori['final_result']
y.shape

(5341,)

In [6]:
y

0       1
1       1
2       0
3       1
4       0
       ..
5336    1
5337    0
5338    1
5339    0
5340    1
Name: final_result, Length: 5341, dtype: int64

# prepare dataset for X

In [8]:
X=df2_ori.drop(['final_result','id1'], axis=1)

In [9]:
X.shape

(5341, 10)

In [10]:
X

         T0     T1     T2     T3     T4     T5     T6     T7     T8    T9
0      13.0   38.0   88.0   14.0  126.0   67.0  124.0  152.0   83.0  34.0
1       7.0   42.0   22.0    7.0  101.0   46.0   14.0   62.0    0.0   0.0
2      71.0  333.0  510.0   38.0  139.0  247.0  119.0  157.0   62.0  12.0
3     117.0   72.0  211.0  131.0  244.0  483.0  193.0  409.0  138.0   0.0
4       2.0    9.0    4.0    0.0    0.0    1.0    0.0    0.0    0.0   0.0
...     ...    ...    ...    ...    ...    ...    ...    ...    ...   ...
5336   64.0   95.0   62.0   74.0   73.0   48.0   56.0   70.0   89.0   0.0
5337   32.0   74.0  159.0   81.0   38.0   15.0   75.0   23.0   56.0   0.0
5338  562.0  675.0  770.0  756.0  856.0  374.0  425.0  218.0  206.0   0.0
5339    0.0   27.0   29.0   75.0    1.0    9.0   64.0   17.0   43.0   0.0
5340    0.0  101.0   92.0   77.0  263.0  287.0  444.0  327.0  309.0  93.0

[5341 rows x 10 columns]

# build LogisticRegression model

In [11]:
# prepare the cross-validation procedure
cv = KFold(n_splits=10, random_state=42, shuffle=True)

In [12]:
# create model
model = LogisticRegression()

In [25]:
accuracy = cross_val_score(model, X, y, cv=cv, scoring='accuracy')
f1_score = cross_val_score(model, X, y, cv=cv, scoring='f1_macro')
auc = cross_val_score(model, X, y, cv=cv, scoring='roc_auc')

In [26]:
print('Accuracy: %.3f (%.3f)' % (mean(accuracy), std(accuracy)))
print('f1score: %.3f (%.3f)' % (mean(f1score), std(f1score)))
print('auc: %.3f (%.3f)' % (mean(auc), std(auc)))

Accuracy: 0.866 (0.019)
f1score: 0.838 (0.023)
auc: 0.902 (0.017)